@model IEnumerable<Clientes.Models.Leads>

@{
    ViewData["Title"] = "Lista Campanhas";
    Layout = "~/Views/Shared/_LayoutLeads.cshtml";
}

<h1>Lista de Leads</h1>

<p>
    <a asp-action="Create" class="btn btn-sm" style="background-color:mediumseagreen; color:aliceblue">Nova Lead</a>
</p>
@*
<form method="post">
    Data
    <input type="date" id="Data1" name="Data1">
    <input type="date" id="Data2" name="Data2"</a>

    <input class="btn btn-sm btn-primary my-2 my-sm-0" type="image" src="~/img/search-interface-symbol.png" width="40" height="30" alt="Submit" />
</form>*@

<form method="post">


    <input class="card-text" type="text" id="TextoAPesquisar" name="TextoAPesquisar" placeholder="Nome">



    <input class="btn btn-sm my-2 my-sm-0" style="background-color:mediumseagreen; color:aliceblue" type="image" src="~/img/lupa.png" width="40" height="30" alt="Submit" asp-route-Datanova="0" />


    <a asp-action="Tabela" asp-route-Datanova="1" class="btn btn-sm" style="background-color:mediumseagreen; color:aliceblue" height="500" width="500"> TODOS </a>
    <a asp-action="Index" class="btn btn-sm" style="background-color:mediumseagreen; color:aliceblue" height="50px" width="50px"> ⇆ </a>
</form>




<table class="table table-hover" style=" width:1470px; height:150px">
    <thead>
        <tr class="table" style="background-color:mediumseagreen; color:aliceblue">
            <th>
                <img src="~/img/midia-social.png" width="40" height="20" />Nome
                <a asp-action="Tabela" asp-route-Nome="1" class="btn btn-sm" style="background-color:aliceblue; color:mediumseagreen"> ↑ </a>

                <a asp-action="Tabela" asp-route-Nome="2" class="btn btn-sm" style="background-color:aliceblue; color:mediumseagreen"> ↓ </a>
            </th>
            <th>
                <img src="~/img/agenda.png" width="40" height="20" />Responsável
                <a asp-action="Tabela" asp-route-Responsavel="1" class="btn btn-sm" style="background-color:aliceblue; color:mediumseagreen"> ↑ </a>

                <a asp-action="Tabela" asp-route-Responsavel="2" class="btn btn-sm" style="background-color:aliceblue; color:mediumseagreen"> ↓ </a>
            </th>
            <th>
                <img src="~/img/investimento.png" width="40" height="20" />Email
                <a asp-action="Tabela" asp-route-Email="1" class="btn btn-sm" style="background-color:aliceblue; color:mediumseagreen"> ↑ </a>

                <a asp-action="Tabela" asp-route-Email="2" class="btn btn-sm" style="background-color:aliceblue; color:mediumseagreen"> ↓ </a>
            </th>
            <th>
                <img src="~/img/click.png" width="40" height="20" />Telefone
                <a asp-action="Tabela" asp-route-Telefone="1" class="btn btn-sm" style="background-color:aliceblue; color:mediumseagreen"> ↑ </a>

                <a asp-action="Tabela" asp-route-Telefone="2" class="btn btn-sm" style="background-color:aliceblue; color:mediumseagreen"> ↓ </a>
            </th>
            <th>
                <img src="~/img/world-wide-web.png" width="40" height="20" />A Fazer
                <a asp-action="Tabela" asp-route-AFazer="1" class="btn btn-sm" style="background-color:aliceblue; color:mediumseagreen"> ↑ </a>

                <a asp-action="Tabela" asp-route-AFazer="2" class="btn btn-sm" style="background-color:aliceblue; color:mediumseagreen"> ↓ </a>
            </th>
            <th>
                <img src="~/img/world-wide-web.png" width="40" height="20" />Estado
                <a asp-action="Tabela" asp-route-Estado="1" class="btn btn-sm" style="background-color:aliceblue; color:mediumseagreen"> ↑ </a>

                <a asp-action="Tabela" asp-route-Estado="2" class="btn btn-sm" style="background-color:aliceblue; color:mediumseagreen"> ↓ </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table" style="background-color:aliceblue; color:mediumseagreen">

                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
             
                    <td>
                        @Html.DisplayFor(modelItem => item.Responsavel)
                    </td>
               

                <td>
                    @Html.DisplayFor(modelItem => item.Email) 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AFazer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quente.EstadoLeadNome)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-success"> ✎ </a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info"> ... </a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger"> X </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<style>

    form {
        padding-top: 15px;
        padding-bottom: 25px;
    }

    h1 {
        padding-top: 10px;
        padding-bottom: 5px;
        font-family: 'Playfair Display';
    }

    tr {
        border: 1px solid;
        width: 50%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
</style>    