@model Clientes.Models.Cliente

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_LayoutClientes.cshtml";
}

<h1>Eliminar</h1>

<h3>Tem a certeza que pretende eliminar este  Cliente?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Morada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Morada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoPostal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoPostal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distrito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distrito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Representante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Representante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NIF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NIF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPagamento.Condicoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MPagamento.Metodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnvioFatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnvioFatura.Fatura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PagamentosOnline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagamentosOnline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VivaWallet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VivaWallet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContratoDPD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContratoDPD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tags)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-lg btn-danger" /> 
        <a asp-action="ListaClientes" class="btn btn-lg" style="background-color:royalblue; color:aliceblue ">Voltar</a>
    </form>
</div>
