@model Clientes.Models.Cliente

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_LayoutClientes.cshtml";
}


<h1>Detalhes Cliente </h1>





<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <h5>@Html.DisplayFor(model => model.Nome)</h5>
                <p class="mb-0">@Html.DisplayFor(model => model.Observacoes)</p>
            </div><!-- / project-info-box -->

            <div class="project-info-box">
                <p><b>@Html.DisplayNameFor(model => model.NomeComercial):</b> @Html.DisplayFor(model => model.NomeComercial)</p>
                <p><b>@Html.DisplayNameFor(model => model.Morada):</b> @Html.DisplayFor(model => model.Morada)</p> 
                <p><b>@Html.DisplayNameFor(model => model.Localidade):</b> @Html.DisplayFor(model => model.Localidade)</p>
                <p><b>@Html.DisplayNameFor(model => model.CodigoPostal):</b> @Html.DisplayFor(model => model.CodigoPostal)</p>
                <p><b>@Html.DisplayNameFor(model => model.Distrito):</b> @Html.DisplayFor(model => model.Distrito)</p>
                <p><b>@Html.DisplayNameFor(model => model.Representante):</b> @Html.DisplayFor(model => model.Representante) </p>
                <p><b>@Html.DisplayNameFor(model => model.Email):</b> @Html.DisplayFor(model => model.Email) </p>
                <p><b>@Html.DisplayNameFor(model => model.Telefone):</b> @Html.DisplayFor(model => model.Telefone) </p>
                <p><b>@Html.DisplayNameFor(model => model.Telemovel):</b> @Html.DisplayFor(model => model.Telemovel)</p>
                <p><b>@Html.DisplayNameFor(model => model.Website):</b> @Html.DisplayFor(model => model.Website) </p>
                <p><b>@Html.DisplayNameFor(model => model.NIF):</b> @Html.DisplayFor(model => model.NIF)</p>
                <p><b>@Html.DisplayNameFor(model => model.CPagamento):</b> @Html.DisplayFor(model => model.CPagamento.Condicoes) </p>
                <p><b>@Html.DisplayNameFor(model => model.MPagamento):</b> @Html.DisplayFor(model => model.MPagamento.Metodo)</p>
                <p><b>@Html.DisplayNameFor(model => model.EnvioFatura):</b> @Html.DisplayFor(model => model.EnvioFatura.Fatura) </p>
                <p><b>@Html.DisplayNameFor(model => model.PagamentosOnline):</b> @Html.DisplayFor(model => model.EnvioFatura.Fatura)</p>
                <p><b>@Html.DisplayNameFor(model => model.PagamentosOnline):</b> @Html.DisplayFor(model => model.PagamentosOnline)</p>
                <p><b>@Html.DisplayNameFor(model => model.VivaWallet):</b> @Html.DisplayFor(model => model.VivaWallet)</p>
                <p><b>@Html.DisplayNameFor(model => model.ContratoDPD):</b> @Html.DisplayFor(model => model.ContratoDPD)</p>
                <p><b>@Html.DisplayNameFor(model => model.ALista):</b> @Html.DisplayFor(model => model.ALista)</p>
                <p><b>@Html.DisplayNameFor(model => model.AListaDigital):</b> @Html.DisplayFor(model => model.AListaDigital)</p>
                <p><b>@Html.DisplayNameFor(model => model.Rs):</b> @Html.DisplayFor(model => model.Rs)</p>
                <p><b>@Html.DisplayNameFor(model => model.Site):</b> @Html.DisplayFor(model => model.Site)</p>
                <p><b>@Html.DisplayNameFor(model => model.Fotografia):</b> @Html.DisplayFor(model => model.Fotografia)</p>
                <p><b>@Html.DisplayNameFor(model => model.Tags):</b> @Html.DisplayFor(model => model.Tags)</p>
                <p><b>@Html.DisplayNameFor(model => model.DataFaturacao):</b>@Html.DisplayFor(model => model.DataFaturacao.Value.Day) / @Html.DisplayFor(model => model.DataFaturacao.Value.Month) / @Html.DisplayFor(model => model.DataFaturacao.Value.Year)</p>
                <p><b>@Html.DisplayNameFor(model => model.UltimaVisita):</b> @Html.DisplayFor(model => model.UltimaVisita)</p>
                <p><b>@Html.DisplayNameFor(model => model.DataAdesao):</b> @Html.DisplayFor(model => model.DataAdesao.Value.Day)/@Html.DisplayFor(model => model.DataAdesao.Value.Month)/@Html.DisplayFor(model => model.DataAdesao.Value.Year)</p>
                <p><b>@Html.DisplayNameFor(model => model.DataFim):</b>  @Html.DisplayFor(model => model.DataFim)</p>
                <p><b>@Html.DisplayNameFor(model => model.Custo):</b> @Html.DisplayFor(model => model.Custo)</p>
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-sm" style="margin:3px; background-color:royalblue; color:aliceblue">Editar</a>
                <a asp-action="ListaClientes" class="btn btn-sm" style="margin:3px; background-color:royalblue; color:aliceblue">Voltar</a>
            </div><!-- / project-info-box -->
            
           
        </div><!-- / column -->
    </div>
</div>

<style>


    body{
    background:#f5f5f5;
    /*margin-top:20px;*/}
/*------- portfolio -------*/
.project {
  margin: 15px 0;
}

.no-gutter .project {
  margin: 0 !important;
  padding: 0 !important;
}

.has-spacer {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.has-spacer-extra-space {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.has-side-spacer {
  margin-left: 30px;
  margin-right: 30px;
}

.project-title {
  font-size: 1.25rem;
}

.project-skill {
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.06rem;
}

.project-info-box {
  margin: 15px 0;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 5px;
}

.project-info-box p {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d5dadb;
}

.project-info-box p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.rounded {
    border-radius: 5px !important;
}
/*.btn-xs.btn-icon {
    width: 34px;
    height: 34px;
    max-width: 34px !important;
    max-height: 34px !important;
    font-size: 10px;
    line-height: 34px;
}*/
/* facebook button */







/* dribble button */
.btn-dribbble, .btn-dribbble:active, .btn-dribbble:focus {
  color: #fff !important;
  background: #ec5f94;
  border: 2px solid #ec5f94;
}

.btn-dribbble:hover {
  color: #fff !important;
  background: #b4446e;
  border: 2px solid #b4446e;
}

.btn-dribbble-link, .btn-dribbble-link:active, .btn-dribbble-link:focus {
  color: #ec5f94 !important;
  background: transparent;
  border: none;
}

.btn-dribbble-link:hover {
  color: #b4446e !important;
}

.btn-outline-dribbble, .btn-outline-dribbble:active, .btn-outline-dribbble:focus {
  color: #ec5f94 !important;
  background: transparent;
  border: 2px solid #ec5f94;
}

.btn-outline-dribbble:hover {
  color: #fff !important;
  background: #ec5f94;
  border: 2px solid #ec5f94;
}




.btn-xs.btn-icon span, .btn-xs.btn-icon i {
    line-height: 34px;
}
.btn-icon.btn-circle span, .btn-icon.btn-circle i {
    margin-top: -1px;
    margin-right: -1px;
}
.btn-icon i {
    margin-top: -1px;
/*}
.btn-icon span, .btn-icon i {
    display: block;
    line-height: 50px;
}*/
a.btn, a.btn-social {
    display: inline-block;
}
.mr-5 {
    margin-right: 5px !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.btn-facebook, .btn-facebook:active, .btn-facebook:focus {
    color: #fff !important;
    background: #4e68a1;
    border: 2px solid #4e68a1;
}
.btn-circle {
    border-radius: 50% !important;
}
.project-info-box p {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d5dadb;
}

</style>




